.container {
  display: grid;
  grid: 85px 85px 85px / 85px 85px 85px;
  gap: 5px;
  margin: 50px auto;
  background-color: rgba(0,0,0,0.2);
  width: calc(3 * 85px + 2 * 5px);
  height: calc(3 * 85px + 2 * 5px);
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  
}
.winner{
  background-color: blue !important;
}